body { 
		font: 5pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    	margin: 10 0 10 0px;
    	text-align: center; 
		}
#santxo {
		position:absolute;
		left:1px;
		top:5px;
		width:120px; 
		height:50px;
		border: 0px solid #000000;
		visibility: visible;
		}	
#botones {
		position:absolute;
		left:1px;
		top:90px;
		width:120px; 
		height:350px;
		border: 1px solid #000000;
		visibility: visible;
		}				
#divdominio {
		position:absolute;
		left:650px;
		top:15px;
		width:120px; 
		height:50px;
		border: 0px solid #000000;
		visibility: visible;
		}	
#divcrear {
		position:absolute;
		left:133px;
		top:90px;
		width:700px;
		height:380px;
		border: 0px solid #000000;
		visibility: visible ;
		}
#divborrar {
		position:absolute;
		left:133px;
		top:90px;
		width:700px;
		height:380px;
		border: 0px solid #000000;
		visibility: hidden;
		}
#divb {
		position:absolute;
		left:0px;
		top:105px;
		width:700px;
		height:380px;
		border: 0px solid #000000;
		visibility: hidden;
		}
#diveditar {
		position:absolute;
		left:133px;
		top:90px;
		width:700px;
		height:380px;
		border: 0px solid #000000;
		visibility: hidden;
		}
#divcopiar {
		position:absolute;
		left:133px;
		top:90px;
		width:700px;
		height:380px;
		border: 0px solid #000000;
		visibility: hidden;
		}
#divlistar {
		position:absolute;
		left:133px;
		top:90px;
		/*width:1000px;
		height:350px;*/
                width:85%;
                height:85%;
		border: 0px solid #000000;
		visibility: hidden;
		overflow: auto;		
		}								
#divedit {
		position:absolute;
		left:0px;
		top:105px;
		width:700px;
		height:380px;
		border: 0px solid #000000;
		visibility: hidden;
		}
#divclave{
		position:absolute;
		left:0px;
		top:330px;
		width:700px;
		height:380px;
		border: 0px solid #000000;
		visibility: hidden;
		}
#divmensaje {
		position:absolute;
		left:320px;
		top:7px;
		width:240px;
		height:60px;
		border: 0px solid #000000;
		font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
		overflow: auto;		
		}	
#divsession {
		position:absolute;
		left:100px;
		top:105px;
		width:700px;
		height:380px;
		border: 0px solid #000000;
		visibility: hidden;
		}
								
#fdominio {font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;}							
#fcrear {font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;}
#fborrar {font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;}
#feditar {font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;}
#fedit {font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;}
#ferror {font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;}
#fcopiar {font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;}
#fclave {font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;}
#flistar {font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;}
#fsession {font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;}
#espera {position:absolute;left:320px;top:8px;width:200px; height:200px; visibility: hidden;}
